{% load static %}

<div class="blog-section section pt-65 pt-lg-45 pt-md-35 pt-sm-20 pt-xs-15 pb-65 pb-lg-45 pb-md-35 pb-sm-25 pb-xs-15">
    <div class="container">

        <div class="row mb-50 mb-xs-20">
            <div class="col">
                <div class="section-title text-center">
                    <h2>Latest Post From Blog</h2>
                    <span>OUR BLOG POST</span>
                </div>
            </div>
        </div>

        <div class="row">


            {% for blog in latest_blogs %}
                <div class="blog col-lg-4 col-md-6">
                    <div class="blog-inner mb-30">
                        <div class="blog-media"><a href="{% url 'blog-details' blog.id %}" class="image"><img
                                style="background-image: url('{{ blog_single.image.url }}'); background-repeat: no-repeat;
                                        background-size: contain; width: 100%; height: 300px; background-position: center"
                                src="{{ blog.image.url }}" alt=""></a></div>
                        <div class="content">
                            <ul class="meta">
                                <li>{{ blog.created_at }}</li>
                                <li><a href="#">25 Likes</a></li>
                                <li><a href="#">28 Views</a></li>
                            </ul>
                            <h3 class="title"><a href="{% url 'blog-details' blog.id %}">{{ blog.title }}</a></h3>
                            <a class="read-more" href="{% url 'blog-details' blog.id %}">Read more</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
</div>
