{% load static %}

<div class="offcanvas-mobile-menu d-block d-lg-none" id="offcanvas-mobile-menu">
    <a href="javascript:void(0)" class="offcanvas-menu-close" id="offcanvas-menu-close-trigger">
        <i class="fa fa-times"></i>
    </a>

    <div class="offcanvas-wrapper">

        <div class="offcanvas-inner-content">
            <div class="offcanvas-mobile-search-area">
                <form action="#">
                    <input type="search" placeholder="Search ...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <nav class="offcanvas-navigation">
                <ul>
                    <li class="menu-item-has-children"><a href="{% url 'index' %}">Home</a>

                    </li>
                    <li class="menu-item-has-children"><a href="{% url 'shop' %}">Shop</a>
                        <ul class="submenu2">
                            <li class="menu-item-has-children"><a href="#">Pages</a>
                                <ul class="submenu2">
                                    <li><a href="{% url 'about' %}">About</a></li>

                                    <li><a href="{% url 'cart' %}">Shopping Cart</a></li>
                                    <li><a href="{% url 'checkout' %}">Checkout</a></li>
                                    <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                                    <li><a href="{% url 'wishlist' %}">My Account</a></li>
                                    <li><a href="{% url 'login-register' %}">Login Register</a></li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li><a href="{% url 'new_arrials' %}">New Arrivals</a></li>
                    <li class="menu-item-has-children"><a href="{% url 'blog' %}">Blog</a>

                    <li class="menu-item-has-children"><a href="{% url 'contact' %}">Contact</a>
                    </li>

                </ul>
            </nav>

            <div class="offcanvas-settings">
                <nav class="offcanvas-navigation">
                    <ul>
                        <li class="menu-item-has-children"><a href="#">MY ACCOUNT </a>
                            <ul class="submenu2">
                                <li><a href="{% url 'login-register' %}">Login</a></li>
                                <li><a href="{% url 'checkout' %}">Checkout</a></li>
                                <li><a href="{% url 'wishlist' %}">My account</a></li>
                                <li><a href="{% url 'cart' %}">Cart</a></li>
                                <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#">CURRENCY: USD </a>
                            <ul class="submenu2">
                                <li><a href="javascript:void(0)">€ Euro</a></li>
                                <li><a href="javascript:void(0)">$ US Dollar</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#">LANGUAGE: EN-GB </a>
                            <ul class="submenu2">
                                <li><a href="javascript:void(0)"><img
                                        src="{% static 'assets/images/icons/en-gb.png' %}" alt=""> English</a>
                                </li>
                                <li><a href="javascript:void(0)"><img
                                        src="{% static 'assets/images/icons/de-de.png' %}" alt=""> Germany</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="offcanvas-widget-area">
                <div class="off-canvas-contact-widget">
                    <div class="header-contact-info">
                        <ul class="header-contact-info-list">
                            <li><i class="ion-android-phone-portrait"></i> <a href="tel://12452456012">(1245)
                                2456 012 </a></li>
                            <li><i class="ion-android-mail"></i> <a href="mailto:info@yourdomain.com">info@yourdomain.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Off Canvas Widget Social Start-->
                <div class="off-canvas-widget-social">
                    <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                    <a href="#" title="Youtube"><i class="fa fa-youtube-play"></i></a>
                    <a href="#" title="Vimeo"><i class="fa fa-vimeo-square"></i></a>
                </div>
                <!--Off Canvas Widget Social End-->
            </div>
        </div>
    </div>

</div>
