{% load static %}
<div class="shop-section section pt-60 pt-lg-40 pt-md-30 pt-sm-20 pt-xs-30  pb-70 pb-lg-50 pb-md-40 pb-sm-20 pb-xs-20">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shop-area">
                    <div class="row">
                        <div class="col-12">
                            <!-- Grid & List View Start -->
                            <div class="shop-topbar-wrapper d-flex justify-content-between align-items-center">
                                <div class="grid-list-option d-flex">
                                    <ul class="nav">
                                        <li>
                                            <a class="active show" data-bs-toggle="tab" href="#grid"><i
                                                    class="fa fa-th"></i></a>
                                        </li>
                                        <li>
                                            <a data-bs-toggle="tab" href="#list" class=""><i class="fa fa-th-list"></i></a>
                                        </li>
                                    </ul>
                                    <p>Showing 1–9 of 41 results</p>
                                </div>
                                <!--Toolbar Short Area Start-->
                                <div class="toolbar-short-area d-md-flex align-items-center">
                                    <div class="toolbar-shorter ">
                                        <label>Sort By:</label>
                                        <select class="wide">
                                            <option data-display="Select">Nothing</option>
                                            <option value="Relevance">Relevance</option>
                                            <option value="Name, A to Z">Name, A to Z</option>
                                            <option value="Name, Z to A">Name, Z to A</option>
                                            <option value="Price, low to high">Price, low to high</option>
                                            <option value="Price, high to low">Price, high to low</option>
                                        </select>
                                    </div>
                                </div>
                                <!--Toolbar Short Area End-->
                            </div>
                            <!-- Grid & List View End -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="shop-product">
                                        <div id="myTabContent-2" class="tab-content">
                                            <div id="grid" class="tab-pane fade active show">
                                                <div class="product-grid-view">
                                                    <div class="row">
                                                        {% for product in products %}
                                                            <div class="col-lg-3 col-md-6 col-sm-6">
                                                                <!--  Single Grid product Start -->
                                                                <div class="single-grid-product mb-40">
                                                                    <div class="product-image">
                                                                        <div class="product-label">
                                                                            {% if product.discount != none %}
                                                                            <span>{{ product.discount }}%</span>
                                                                            {% endif %}
                                                                        </div>
                                                                        <a href="{% url 'product-single'  product.id %}">
                                                                            <img style="background-image: url('{{ product.image.url }}'); background-repeat: no-repeat;
                                                                                    background-size: contain; width: 100%; height: 300px; background-position: center"
                                                                                 src="{{ product.image.url }}"
                                                                                 class="img-fluid" alt="">
                                                                            <img style="background-image: url('{{ product.image.url }}'); background-repeat: no-repeat;
                                                                                    background-size: contain; width: 100%; height: 300px; background-position: center"
                                                                                 src="{{ product.image2.url }}"
                                                                                 class="img-fluid" alt="">
                                                                        </a>

                                                                        <div class="product-action">
                                                                            <ul>
                                                                                <li><a href="cart.html"><i
                                                                                        class="fa fa-cart-plus"></i></a>
                                                                                </li>
                                                                                <li>
                                                                                    <a href="#quick-view-modal-container"
                                                                                       data-bs-toggle="modal"
                                                                                       title="Quick View"><i
                                                                                            class="fa fa-eye"></i></a>
                                                                                </li>
                                                                                <li><a href="{% url 'wishlist' %}"><i
                                                                                        class="fa fa-heart-o"></i></a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-content">
                                                                        <h3 class="title"><a
                                                                                href="{% url 'product-single'  product.id %}">{{ product.title }}</a>
                                                                        </h3>
                                                                         <p class="product-price"><span
                                                                                {% if product.discount != none %}
                                                                                    class="discounted-price">
                                                                                        $ {{ product.discounted_price }}
                                                                                    </span>
                                                                                {% else %}

                                                                                {% endif %}
                                                                             {% if product.discount != none %}
                                                                                <span class="main-price discounted">${{ product.price }}</span>
                                                                            {% else %}
                                                                                class="discounted-price">
                                                                                $ {{ product.price }}
                                                                            {% endif %}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <!--  Single Grid product End -->
                                                            </div>
                                                        {% endfor %}


                                                    </div>
                                                </div>
                                            </div>
                                            <div id="list" class="tab-pane fade">
                                                <div class="product-list-view">
                                                    <!-- Single List Product Start -->
                                                    {% for product in products %}
                                                        <div class="product-list-item mb-40">
                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-6">
                                                                    <div class="single-grid-product">
                                                                        <div class="product-image">
                                                                            <div class="product-label">
                                                                                <span class="sale">New</span>
                                                                            </div>
                                                                            <a href="{% url 'product-single'  product.id %}">
                                                                                <img style="background-image: url('{{ blog_single.image.url }}'); background-repeat: no-repeat;
                                                                                        background-size: contain; width: 100%; height: 300px; background-position: center"
                                                                                     src="{{ product.image.url }}"
                                                                                     class="img-fluid" alt="">
                                                                                <img style="background-image: url('{{ blog_single.image.url }}'); background-repeat: no-repeat;
                                                                                        background-size: contain; width: 100%; height: 300px; background-position: center"
                                                                                     src="{{ product.image2.url }}"
                                                                                     class="img-fluid" alt="">
                                                                            </a>

                                                                            <div class="product-action">
                                                                                <ul>
                                                                                    <li><a href="cart.html"><i
                                                                                            class="fa fa-cart-plus"></i></a>
                                                                                    </li>
                                                                                    <li>
                                                                                        <a href="#quick-view-modal-container"
                                                                                           data-bs-toggle="modal"
                                                                                           title="Quick View"><i
                                                                                                class="fa fa-eye"></i></a>
                                                                                    </li>
                                                                                    <li>
                                                                                        <a href="{% url 'wishlist' %}"><i
                                                                                                class="fa fa-heart-o"></i></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-8 col-sm-6">
                                                                    <div class="product-content-shop-list">
                                                                        <div class="product-content">
                                                                            <h3 class="title"><a
                                                                                    href="{% url 'product-single'  product.id %}">{{ product.title }}</a>
                                                                            </h3>
                                                                            <div class="product-category-rating">
                                                                                    <span class="rating">
                                                                                <i class="fa fa-star active"></i>
                                                                                <i class="fa fa-star active"></i>
                                                                                <i class="fa fa-star active"></i>
                                                                                <i class="fa fa-star active"></i>
                                                                                <i class="fa fa-star-o"></i>
                                                                            </span>
                                                                                <span class="review"><a
                                                                                        href="#">(1 review)</a></span>
                                                                            </div>
                                                                            <p class="product-price"><span
                                                                                    {% if product.discount != none %}
                                                                                        class="discounted-price">
                                                                                            $ {{ product.discounted_price }}
                                                                                        </span>
                                                                                    {% else %}

                                                                                    {% endif %}
                                                                                {% if product.discount != none %}
                                                                                    <span class="main-price discounted">${{ product.price }}</span>
                                                                                {% else %}
                                                                                    class="discounted-price">
                                                                                    $ {{ product.price }}
                                                                                {% endif %}
                                                                            </p>
                                                                            <p class="product-desc">{{ product.description }}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                    <!-- Single List Product Start -->


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-30 mb-sm-40 mb-xs-30">
                                <div class="col">
                                    <ul class="page-pagination">
                                        <li class="active"><a href="#">01</a></li>
                                        <li><a href="#">02</a></li>
                                        <li><a href="#">03</a></li>
                                        <li><a href="#">04</a></li>
                                        <li><a href="#">05</a></li>
                                        <li><a href="#">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
