{% load static %}


<div class="single-product-section section pt-60 pt-lg-40 pt-md-30 pt-sm-20 pt-xs-25 pb-100 pb-lg-80 pb-md-70 pb-sm-30 pb-xs-20">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shop-area">
                    <div class="row">
                        <div class="col-md-6 pr-35 pr-lg-15 pr-md-15 pr-sm-15 pr-xs-15">
                            <!-- Product Details Left -->
                            <div class="product-details-left">
                                <div class="product-details-images">
                                    <div class="lg-image">
                                        <img src="{{ product.image.url }}" alt="">
                                        <a href="{{ product.image.url }}"
                                           class="popup-img venobox" data-gall="myGallery"><i
                                                class="fa fa-expand"></i></a>
                                    </div>
                                    <div class="lg-image">
                                        <img src="{{ product.image2.url }}" alt="">
                                        <a href="{{ product.image2.url }}"
                                           class="popup-img venobox" data-gall="myGallery"><i
                                                class="fa fa-expand"></i></a>
                                    </div>
                                    {% if  product.image3.url != none %}

                                        <div class="lg-image">
                                            <img src="{{ product.image3.url }}" alt="">
                                            <a href="{{ product.image3.url }}"
                                               class="popup-img venobox" data-gall="myGallery"><i
                                                    class="fa fa-expand"></i></a>
                                        </div>
                                    {% endif %}
                                    {% if product.image4.url != none %}
                                        <div class="lg-image">
                                            <img src="{{ product.image4.url }}" alt="">
                                            <a href="{{ product.image4.url }}"
                                               class="popup-img venobox" data-gall="myGallery"><i
                                                    class="fa fa-expand"></i></a>
                                        </div>
                                    {% endif %}
                                    {% if product.image5.url != none %}
                                        <div class="lg-image">
                                            <img src="{{ product.image5.url }}" alt="">
                                            <a href="{{ product.image5.url }}"
                                               class="popup-img venobox" data-gall="myGallery"><i
                                                    class="fa fa-expand"></i></a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="product-details-thumbs">
                                    <div class="sm-image"><img
                                            src="{{ product.image.url }}"
                                            alt="product image thumb"></div>
                                    <div class="sm-image"><img
                                            src="{{ product.image2.url }}"
                                            alt="product image thumb"></div>
                                    {% if product.image3.url != none %}
                                        <div class="sm-image"><img
                                                src="{{ product.image3.url }}"
                                                alt="product image thumb"></div>
                                    {% endif %}
                                    {% if product.image4.url != none %}
                                        <div class="sm-image"><img
                                                src="{{ product.image4.url }}"
                                                alt="product image thumb"></div>
                                    {% endif %}
                                    {% if product.image5.url != none %}
                                        <div class="sm-image"><img
                                                src="{{ product.image5.url }}"
                                                alt="product image thumb"></div>
                                    {% endif %}

                                </div>
                            </div>
                            <!--Product Details Left -->
                        </div>
                        <div class="col-md-6">
                            <!--Product Details Content Start-->
                            <div class="product-details-content">
                                <!--Product Nav Start-->
                                <div class="product-nav">
                                    <a href="#"><i class="fa fa-angle-left"></i></a>
                                    <a href="#"><i class="fa fa-angle-right"></i></a>
                                </div>
                                <!--Product Nav End-->
                                <h2>{{ product.title }}</h2>
                                <div class="single-product-reviews">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star-o"></i>
                                    <a class="review-link" href="#">(1 customer review)</a>
                                </div>
                                <div class="single-product-price">
                                    {% if product.discount != none %}
                                        <span class="price new-price">${{ product.discounted_price }}</span>
                                        <span class="regular-price">${{ product.price }} </span>


                                    {% else %}
                                        <span class="price new-price">${{ product.price }}</span>

                                    {% endif %}
                                </div>
                                <div class="product-description">
                                    <p>{{ product.description }}</p>
                                </div>
                                <div class="product-countdown-two" data-countdown2="2023/12/01"></div>
                                <div class="single-product-quantity">
                                    <form class="add-quantity" action="{% url 'add-cart' product.id  %}" method="post">
                                        {% csrf_token %}
                                        <div class="product-quantity">
                                            <input value="{{ product.quantity }}" type="number" name="quantity">
                                        </div>
                                        <div class="add-to-link">
                                            <button class="btn" type="submit"><i class="fa fa-shopping-bag"></i>add to cart
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="wishlist-compare-btn">
                                    <a href="{% url 'add-wishlist' product.id %}" class="wishlist-btn">Add to Wishlist</a>
                                    <a href="#" class="add-compare">Compare</a>
                                </div>
                                <div class="product-meta">
                                            <span class="posted-in">
                                                Categories:
                                                <a href="#">{{ product.category }}</a>,
                                            </span>
                                </div>
                                <div class="single-product-sharing">
                                    <h3>Share this product</h3>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--Product Details Content End-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
