{% load static %}


<div class="blog-section section pt-90 pt-lg-70 pt-md-60 pt-sm-50 pt-xs-40  pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
    <div class="container">
        <div class="row">

            {% for blog in blogs %}
            <div class="blog col-lg-4 col-md-6">
                <div class="blog-inner mb-30">
                    <div class="blog-media"><a href="{% url 'blog-details' blog.id %}" class="image"><img
                         style="background-image: url('{{ blog_single.image.url }}'); background-repeat: no-repeat;
                                                        background-size: contain; width: 100%; height: 300px; background-position: center"    src="{{ blog.image.url }}" alt=""></a></div>
                    <div class="content">
                        <ul class="meta">
                            <li>{{ blog.created_at }}</li>
                            <li><a href="#">25 Likes</a></li>
                            <li><a href="#">28 Views</a></li>
                        </ul>
                        <h3 class="title"><a href="{% url 'blog-details' blog.id %}">{{ blog.title }}</a></h3>
                        <a class="read-more" href="{% url 'blog-details' blog.id %}">Read more</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="row mt-20 mt-xs-0">
            <div class="col">
                <ul class="page-pagination">
                    <li class="active"><a href="#">01</a></li>
                    <li><a href="#">02</a></li>
                    <li><a href="#">03</a></li>
                    <li><a href="#">04</a></li>
                    <li><a href="#">05</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
