    {% extends  'app/main/base.html' %}

    {% block content %}

        {#    {% block title %}Brand Mebel{% endblock title %}#}




        <div id="main-wrapper">


            <!-- Offcanvas Menu Start -->
            {% include 'app/inpage/index/offcanvas_menu.html' %}
            <!-- Offcanvas Menu End -->

            <!-- main-search start -->
            {% include 'app/inpage/index/main_search.html' %}
            <!-- main-search start -->

            <!--slider section start-->
            {% include 'app/inpage/index/slider_section.html' %}
            <!--slider section end-->

            <!-- Banner section start -->
            {% include 'app/inpage/index/banner_section.html' %}
            <!-- Banner section End -->


            <!--Product section start-->
            {% include 'app/inpage/index/product_section.html' %}
            <!--Product section end-->


            <!-- Banner section start -->
            {% include 'app/inpage/index/banner_section_2.html' %}
            <!-- Banner section End -->


            <!--Features section start-->
            {% include 'app/inpage/index/features_section.html' %}
            <!--Features section end-->


            <!--Blog section start-->
            {% include 'app/inpage/index/blog_section.html' %}
            <!--Blog section end-->


            <!-- Testimonial Area Start -->
            {% include 'app/inpage/index/testimonial_area.html' %}
            <!-- Testimonial Area End -->


            <!--Brand section start-->
            {% include 'app/inpage/index/brand_section.html' %}
            <!--Brand section end-->

            <!-- Newsletter Section Start -->
            {% include 'app/inpage/index/newsletter_section.html' %}
            <!-- Newsletter Section End -->

        </div>






    {% endblock content %}